---
title: お問い合わせ確認
description: お問い合わせ確認ページです。
root: ".."
slug: "contact-confirm"
---

{# {% set page = "contact" %} #}
{% extends 'layout/_base.njk' %}
{% block main -%}
<form id="contact-form" class="p-form">
  <h1 class="p-form__headline">お問い合わせフォーム</h1>
  <div class="p-form__description">
    <p class="p-form__description-text">お問い合わせ内容をご確認の上「送信する」ボタンを押してください。</p>
  </div>
  <div class="p-form__group">
    <p class="p-form__group-header">
      <label for="name" class="p-form__group-label">
        お名前<span class="p-form__required">必須</span>
      </label>
    </p>
    <div class="p-form__group-content">
      <p class="c-text-input js-input-value"></p>
    </div>
  </div>
  <div class="p-form__group">
    <p class="p-form__group-header">
      <label for="email" class="p-form__group-label">
        メールアドレス<span class="p-form__required">必須</span>
      </label>
    </p>
    <div class="p-form__group-content">
      <p class="c-text-input js-input-value"></p>
    </div>
  </div>
  <div class="p-form__group">
    <p class="p-form__group-header">
      <label for="tel" class="p-form__group-label">
        電話番号
      </label>
    </p>
    <div class="p-form__group-content">
      <p class="c-text-input js-input-value"></p>
    </div>
  </div>
  <div class="p-form__group">
    <p class="p-form__group-header">
      <label for="type" class="p-form__group-label">
        お問い合わせ種別<span class="p-form__required">必須</span>
      </label>
    </p>
    <div class="p-form__group-content">
      <p class="c-text-input js-input-value"></p>
    </div>
  </div>
  <div class="p-form__group">
    <p class="p-form__group-header">
      <label for="message" class="p-form__group-label">
        お問い合わせ内容<span class="p-form__required">必須</span>
      </label>
    </p>
    <div class="p-form__group-content">
      <p class="c-textarea js-input-value"></p>
    </div>
  </div>
  <div class="p-form__button-wrap">
  <button class="c-button p-form__fix-button js-fix-button" type="button">内容を修正する</button>
  <button class="c-button p-form__submit-button js-submit-button" type="button">送信する</button>
  </div>
</form>
{%- endblock %}
