---
title: トップページ
description: ページ概要をここに
root: "."
slug: "top"
---

{# {% set page = "top" %} #}
{% extends "layout/_base.njk" %}
{% block main -%}
<h1>Hello World! Home desu</h1>
<p><a href="./contact">Contact</a>へ!</p>
{%- endblock %}
